doctype html
html(lang='en')
  body
    div(class='container-fluid')
      a(href='/auth/github')
        div(class='btn btn-login')
          p Login with GitHub
      a(href='/auth/twitter')
        div(class='btn btn-login')
          p Login with Twitter